SLACK_CLIENT_ID=YOUR_SLACK_APP_ID
SLACK_CLIENT_SECRET=YOUR_SLACK_APP_SECRET
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your-secret
EMAIL_SERVER=SMPT_CONNECTION_STRING
EMAIL_FROM=ship@hackclub.com
AIRTABLE_API_KEY=your_api_key_here
AIRTABLE_BASE_ID=your_base_id_here
SLACK_BOT_TOKEN=your_bot_token_here
IPINFO_API_TOKEN=youw_ipinfo_api_token

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"
