li > ul {
  margin-top: 0 !important;
}

h1 {
  line-height: 1.1;
}

:is(h1, h2, h3) + * {
  margin-top: 0.25em !important;
}

#callout {
  margin-top: 1rem !important;
  padding: 1rem;
  
  background: var(--color-blue-900);
  border-radius: 0.75rem;
  
  font-family: var(--font-baloo);
  color: white;
}